img {
  width: 100%;
}
/*-----header-----*/

#site-title a {
  font-size: 28px;
  color: #1a1a1a;
  font-weight: bold;
  font-family: sans-serif;
}

#site-title a:hover {
  color: #dc6520;
  font-size: 1.8rem;
}

#about-site {
  color: #3c5349;
}

/*-----main-----*/
#blog-header h1 {
  color: #13222c;
  font-family: sans-serif;
}

#blog-content {
  width: 90%;
}

.h-style {
  color: #13222c;
}

#logo img {
  width: 210px;
}
