/* div {
  width: 100px;
  height: 100px;
  top: 20%;
  left: 20%;
  position: absolute;
  background-color: aquamarine;
  transform: translate(0, 100px);
  scale(0.1, 1);
  rotate(-100deg);

  transition: 1s ease-in-out;
} */

/* div:hover {
  transform: scale(1.5) translate(150px);
} */

/* div {
  width: 150px;
  height: 150px;
  top: 5%;
  left: 5%;
  position: absolute;
  background-color: aquamarine;
  transition: 1s ease-in-out;
}

div:hover {
  top: 2%;
  left: 30%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
} */

/* #div1 {
  height: 200px;
  width: 200px;
  background-color: brown;
}

#div2 {
  height: 100px;
  width: 100px;
  background-color: purple;
  transform: translateY(100px);
} */

/* @keyframes changeShape {
  from {
    border-radius: 0%;
  }

  25% {
    border-radius: 12.5%;
  }

  50% {
    border-radius: 25%;
  }

  to {
    border-radius: 50%;
  }
}
#div1 {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: aquamarine;
  animation: changeShape 1s linear infinite alternate;
} */

/* @keyframes bounce {
  0% {
    transform: translateY(40px);
  }

  25% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

#div1 {
  height: 100px;
  width: 100px;
  position: relative;
  top: 100px;
  left: 100px;
  background-color: aqua;
  animation: bounce 2s ease-in-out 1 alternate;
} */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#div1 {
  height: 40px;
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
  font-size: 30px;
  border: solid black;
  border-width: 3px 0px 3px 0px;
  text-align: center;
  padding: 5px;
  animation: fadeIn 1s ease-in-out infinite alternate;
} */

/* @keyframes changeShape {
  0% {
    border-radius: 0%;
  }

  25% {
    border-radius: 12.5;
  }

  50% {
    border-radius: 25%;
  }

  100% {
    border-radius: 50%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reduceSize {
  from {
    height: 200px;
    width: 200px;
  }
  to {
    height: 100px;
    width: 100px;
  }
}

#div1 {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  top: 40%;
  left: 40%;
  position: absolute;
  animation: changeShape 1s ease-in-out infinite alternate;
  animation-name: changeShape, rotate, reduceSize;
  animation-duration: 0.8s, 0.8s, 0.8s;
  animation-iteration-count: infinite, infinite, infinite;
  animation-direction: alternate, alternate, alternate;
}
*/

/* #div1 {
  height: 40px;
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
  font-size: 30px;
  border: solid black;
  border-width: 3px 0px 3px 0px;
  text-align: center;
  padding: 5px;
} */

.cube {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 100px;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: rotateX(25deg) rotateY(-25deg);
}

.face {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 20%;
  transition: all 1s;
}

.one {
  background-color: skyblue;
}

.one:hover {
  transform: rotateX(40deg) rotateY(40deg) rotateZ(40deg);
  /* transform: translateX(100px) translateY(100px) translateZ(100px); */
}

.two {
  background-color: orange;
  transform: rotateY(90deg) translateZ(-100px) translateX(-100px);
}
